<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Runtime font download (google_fonts) + ML Kit model download fallback. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Draw the translation overlay above other apps (Mihon). -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Foreground service required while capturing the screen. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- MediaProjection-type foreground service (Android 10+). -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <!-- Foreground-service notification visibility (Android 13+). -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="Tarjim"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Holds the MediaProjection session (Step 6 wires the logic). -->
        <service
            android:name=".services.MediaProjectionService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <!-- Hosts the translation overlay window above other apps (Step 9). -->
        <service
            android:name=".services.OverlayService"
            android:exported="false" />

        <!-- Automatically download ML Kit OCR Japanese optional module on install -->
        <meta-data
            android:name="com.google.ml.vision.DEPENDENCIES"
            android:value="ocr,ocr_japanese" />

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
